:root{
  --branco: white;
  --preto: black;
  --azul: #0B5ED7;
  --amarelo: yellow;
}

body{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background: radial-gradient(var(--branco), var(--azul));
}

form{
  width: 500px;
  margin: 30px auto;
  text-align: center;
}

form input{
  margin-bottom: 5px;
}

form input[type="button"]{
margin-right: 10px;
}
